* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Rammetto One", cursive;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Rammetto One", cursive;
}

body {
  overflow-x: hidden;
  max-width: 1920px;
}

/* COLOURS */
/*
#020a16
#052659
#5483B3
#7DA0CA
#C1E8FF
*/

/* CLASS TO INJECT WITH JS */

/* GIVES GLOW CLASS TO CARDS AND IMAGES IN CARDS WITH JS */
.hover_card {
  box-shadow: 0px 0px 30px 1px #7DA0CA;
}

/* ANIMATIONS */
@keyframes spawn {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes brilliant {
  0% {
    background-position: -500%;
  }

  25% {
    background-position: -152%;
  }

  75% {
    background-position: 10%;
  }

  100% {
    background-position: 100%;
  }
}

/* SECTION 1 */
.sec1 {
  width: 100%;
  height: 100vh;
  background-color: #020a16;
  color: #C1E8FF ;
}

.sec1 header {
  width: 100%;
  height: 100px;
}

.sec1 header nav h2 {
  margin-left: 125px;
  margin-top: 5px;
  opacity: 0;
  transform: translateY(-100px);
  animation: spawn 2s 1.6s ease-out forwards;
  color: #C1E8FF;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 500;
}

.sec1 header nav h2::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #5483B3;
  top: 0;
  display: inline-block;
}

.sec1 header nav {
  display: flex;
  justify-content: space-between;
}

.sec1 header nav ul {
  display: flex;
  gap: 50px;
  margin-right: 110px;
}

.sec1 header nav ul li {
  display: flex;
  margin: auto;
  opacity: 0;
}

.sec1 header nav ul li a {
  color: #5483B3;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 350ms;
}

.sec1 header nav ul li a:hover {
  color: #C1E8FF;
  animation: spawn 350ms 250ms ease-in-out forwards;
  transform: translateY(6px);
}

ul > li:nth-child(1) {
  animation: spawn 2s 2.4s ease-out forwards;
}

ul > li:nth-child(2) {
  animation: spawn 2s 2.6s ease-out forwards;
}

ul > li:nth-child(3) {
  animation: spawn 2s 2.8s ease-out forwards;
}

ul > li:nth-child(4) {
  animation: spawn 2s 3s ease-out forwards;
}

.sec1 .content {
  text-align: center;
}

.sec1 .content h1 {
  position: relative;
  background: linear-gradient(90deg, #5483B3, #C1E8FF, #021024);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: brilliant 5s 1 ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-size: 9.68rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 13%;
  background-position: 100%;
}

.sec1 .content h3 {
  transform: translateY(100px);
  animation: spawn 2s 1s ease-in-out forwards;
  margin-left: -300px;
  margin-top: -20px;
  letter-spacing: 2px;
  font-size: 1.7rem;
  font-weight: 500;
  opacity: 0;
}

.sec1 .bottom-right {
  text-align: right;
}

.sec1 .bottom-right h2 {
  opacity: 0;
  transform: translateX(200px);
  animation: spawn 2s 1s ease-in-out forwards;
  margin-top: 220px;
  margin-right: 50px;
  font-size: 2rem;
  font-weight: 400;
}

.sec1 .bottom-right .trait {
  opacity: 0;
  position: absolute;
  transform: translateX(-200px);
  right: 60px;
  animation: spawn 2s 1.4s ease-out forwards;
  width: 420px;
  height: 5px;
  background-color: #5483B3;
  margin-left: 1404px;
}

/* MEDIA QUERYS */
@media (max-width: 1570px) {
  .sec1 .content h1 {
    background-size: 100%;
  }
}

@media (max-height: 768px) {
  .sec1 .content h1 {
    margin-top: 11%;
    background-size: 133%;
  }

  .sec1 .bottom-right h2 {
    margin-top: 130px;
  }  
}

/* SECTION 2 */
.sec2 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#020a16, #5483B3);
}

.sec2 .title {
  opacity: 0;
  transform: translateY(-90px);
  animation: spawn 1s 0.2s ease-out forwards;
  width: 100%;
  height: 50px;
  padding-top: 60px;
  color: #C1E8FF;
  font-size: 3rem;
  text-align: center;
}

/* CARD */
.sec2 .container {
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sec2 .container .card {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  height: 500px;
  background-color: #C1E8FF;
  border-radius: 30px;
  transition: 500ms;
}

.sec2 .container .card:hover {
  width: 33%;
  height: 570px;
  margin-top: -35px;
}

.sec2 .container .card #content1,
.sec2 .container .card #content2,
.sec2 .container .card #content3 {
  width: 90%;
  height: 90%;
  margin: auto;
  transition: 350ms;
}

.sec2 .container .card #content1 {
  background-size: cover;
}

#content1 img,
#content2 img,
#content3 img {
  background-size: cover;
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  transition: 750ms;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px #5483B3;
}

.text {
  width: 100%;
  height: 40%;
}

/* ANIATION SPAWN FOR CARDS */
#card1 {
  opacity: 0;
  transform: translateX(-100px);
  animation: spawn 1s 0.4s ease-out forwards;
}

#card2 {
  opacity: 0;
  transform: translateY(100px);
  animation: spawn 1s 0.5s ease-out forwards;
}

#card3 {
  opacity: 0;
  transform: translateX(100px);
  animation: spawn 1s 0.6s ease-out forwards;
}

#content1 img {
  opacity: 0;
  transform: translateX(-100px);
  animation: spawn 1s 0.5s ease-out forwards;
}

#content2 img {
  opacity: 0;
  transform: translateY(100px);
  animation: spawn 1.3s 0.6s ease-out forwards;
}

#content3 img {
  opacity: 0;
  transform: translateX(100px);
  animation: spawn 1s 0.7s ease-out forwards;
}

#text1 {
  opacity: 0;
  transform: translateX(-100px);
  animation: spawn 1s 0.8s ease-out forwards;
}

#text2 {
  opacity: 0;
  transform: translateY(100px);
  animation: spawn 1.3s 0.9s ease-out forwards;
}

#text3 {
  opacity: 0;
  transform: translateX(100px);
  animation: spawn 1s 0.1s ease-out forwards;
}

/* MEDIA QUERYS */
@media (max-height: 768px) {
  .sec2 .title {
    transform: translateY(-35px);
    padding-top: 10px;
  }

  .sec2 .container{
    margin-top: 130px;
    flex-wrap: wrap;
  }

  .card {
    font-size: 13px;
  }
}

/* SECTION 3 */
.sec3 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#5483B3, #7DA0CA);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec3 .top_left {
  width: 40%;
  height: 300px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.sec3 .mid_right {
  width: 40%;
  height: 300px;
  background-color: aqua;
}
.sec3 .bottom_left {
  width: 40%;
  height: 300px;
  background-color: aqua;
}

.sec3 .mid_right i {
  font-family: "poppins" "sans-serif";
  color: red;
}

/* SECTION 4 */
.sec4 {
  width: 100%;
  height: 400px;
  background: linear-gradient(#7DA0CA, #C1E8FF);
}

/* FOOTER */
footer {
  width: 100%;
  height: 50px;
  background-color: #020a16;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer a {
  cursor: pointer;
  color: #C1E8FF;
}

footer p {
  width: 100%;
  font-size: 0.7rem;
  padding-left: 20px;
  position: absolute;
  float: right;
  color: #C1E8FF;
}